/* Style for BOTH screen sizes */
body {
	background-color: black;
}

.Container_menu {
	font-family: "Bungee Inline";font-size: 22px;
}

.Item {
	color: white;
	background-color: green;
}

.Container_name {
	font-family: "Bungee Inline";font-size: 22px;
	color: white;
	background-color: #00A403;
}

/* Style for MOBILE screen size */
@media screen and (max-width: 500px){
	.Container_menu {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	
	.Item {
		line-height: 35px;
		border: solid 4px;
		padding: 0px 15px;
		margin: 5px auto 5px 0;
	}
	
	.Container_name {
		line-height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 300px 130px
	}
}

/* Style for DESKTOP screen size */
@media screen and (min-width: 500px){
	.Container_menu {
		display: flex;
		justify-content:flex-end;
		align-items: center;
		height: 40px;
	}

	.Item {
		line-height: 35px; /*Sometimes a font has big margins, adjusting line height helps get rid of those margins */
		margin: 0 10px;
		padding: 0px 15px;
		border: solid 4px;
	}
	
	.Container_name {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 600px 600px;
	}
}